body{
background-image: url(resource/img/back5.png);
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
  margin: 0px;
  padding: 0;
}